@font-face {
    font-family: "mysoul";
    src: url(fonts/MySoul-Regular.ttf);
}

body{
    background-color: #FDD521;
}

#app-name{
    font-family: mysoul,Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 800;
}

.nav-item{
    font-size: 1.5rem;
    font-weight: 800;
}

.nav-item .active{
    margin-right: 2rem;
}

/* ?media query for smaller screens */
@media screen and (min-width: 480px){
    #main-image{
        width: 480px;
    }
}
 







